<div class="container">
    <div class="card" style="margin-top: 25%;">
        <p style="text-align: center; font-size: 50px;"><strong>f</strong>ortune</p>
        <div class="card-body">
            <form [formGroup]="registerForm" autocomplete="off">
                <div class="form-group">
                    <label for="name"><strong>Nome Completo</strong></label>
                    <input type="text" class="form-control" id="name" placeholder="Informe seu nome" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="email"><strong>E-mail</strong></label>
                    <input type="email" class="form-control" id="email" placeholder="Informe seu melhor e-mail" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password"><strong>Senha</strong></label>
                    <input type="password" class="form-control" id="password" placeholder="Informe sua senha" formControlName="password">
                </div>
                <button class="btn btn-dark mt-5 mb-3" style="width: 100%;" (click)="register()">Cadatrar</button>
            </form>
        </div>
    </div>
</div>

