<app-bread-crumb 
    [items]="[{ text: 'Categorias'}]"
></app-bread-crumb>

<app-page-header
    [headerParams]="{ title: 'Categorias', btnClass: 'btn-success', btnLink: 'new', btnText: 'Nova Categoria', showButton: true }"
></app-page-header>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resource of resources">
            <td>
                <strong>{{resource.name}}</strong><br>
                <small>{{resource.description}}</small>
            </td>
            <td>
                <a [routerLink]="[resource._id, 'edit']" class="btn btn-outline-info sm">Editar</a>
                <button (click)="deleteResource(resource)" class="btn btn-outline-danger sm ml-2">Excluir</button>
            </td>
        </tr>
    </tbody>

</table>
