<app-bread-crumb 
    [items]="[{ text: 'Lançamentos', link: '/entries'}, { text: pageTitle }]">
</app-bread-crumb>

<app-page-header
    [headerParams]="{ title: pageTitle, btnClass: 'btn-light', btnLink: '/entries', btnText: 'Voltar' , showButton: true }"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre o Lançamento
        </div>
        <div class="card-body">   
            <div class="form-row">
                <!-- TYPE -->
                <div class="form-group col-md-2">
                    <label for="type">Tipo</label>
                    <select name="type" id="type" formControlName="type" class="form-control">
                        <option *ngFor="let op of typeOptions" [ngValue]=op.value>{{op.text}}</option>
                    </select>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('type')"
                    ></app-form-field-error>
                </div>   
                <!-- DESCRIPTION -->
                <div class="form-group col-md-7">
                    <label for="description">Descrição Curta</label>
                    <input type="text" class="form-control" id="description" formControlName="description">    
                    <app-form-field-error 
                        [form-control]="resourceForm.get('description')"
                    ></app-form-field-error>
                </div> 
                <!-- AMOUNT -->
                <div class="form-group col-md-3">
                    <label for="amount">Lançamento</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [imask]="imaskConfig" type="text" class="form-control text-right" id="amount" formControlName="amount">
                    </div>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('amount')"
                    ></app-form-field-error>
                </div> 
            </div>
            <div class="form-row">
                <!-- DUE DATE -->
                <div class="form-group col-md-2">
                    <label for="dueDate">Data de Vencimento</label>
                    <p-calendar id="dueDate" 
                                formControlName="dueDate"
                                inputStyleClass="form-control"
                                dateFormat="dd/mm/yy"
                                [locale]="ptBR"
                                [showButtonBar]="true">
                    </p-calendar>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('dueDate')"
                    ></app-form-field-error>
                </div> 
                <!-- PAID DATE -->
                <div class="form-group col-md-2">
                    <label for="paidDate">Data de Pagamento</label>
                    <p-calendar id="paidDate" 
                                formControlName="paidDate"
                                inputStyleClass="form-control"
                                dateFormat="dd/mm/yy"
                                [locale]="ptBR"
                                [showButtonBar]="true">
                    </p-calendar>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('paidDate')"
                    ></app-form-field-error>
                </div> 
                <!-- CATEGORY -->
                <div class="form-group col-md-5">
                    <label for="category">Categoria</label>
                    <select name="type" id="category" formControlName="category" class="form-control">
                        <option *ngFor="let op of categories" [value]="op._id">{{ op.name }}</option>
                    </select>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('category')"
                    ></app-form-field-error>
                </div>    
                <!-- PAID -->
                <div class="form-group col-md-2">
                    <label for="paid">Pago</label>
                    <div class="btn-group">
                        <label (click)="resourceForm.get('paid').setValue(true)" [class.active]="resourceForm.get('paid').value == true" class="btn btn-outline-info">Pago</label>
                        <label (click)="resourceForm.get('paid').setValue(false)" [class.active]="resourceForm.get('paid').value == false" class="btn btn-outline-info">Pendente</label>
                    </div>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('paid')"
                    ></app-form-field-error>
                </div>
            </div>
            <div class="form-row">
                <!-- LONG DESCRIPTION  -->
                <div class="form-group col-md-12">
                    <label for="longDescription">Descrição Longa</label>
                    <textarea type="textarea" class="form-control" id="longDescription" formControlName="longDescription"></textarea>
                </div>
                
            </div>
        </div>
    </div>

    <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
    
    
    <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-outline-dark btn-lg mt-2 float-right">Salvar</button>
</form>
