<app-bread-crumb 
    [items]="[{ text: 'Metas', link: '/goals'}, { text: pageTitle }]">
</app-bread-crumb>

<app-page-header
    [headerParams]="{ title: pageTitle, btnClass: 'btn-light', btnLink: '/goals', btnText: 'Voltar', showButton: true }"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
    <div class="card">
        <div class="card-header">
            Informações sobre a meta
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                    <app-form-field-error 
                        [form-control]="resourceForm.get('description')"
                    ></app-form-field-error>
                </div>
                <div class="form-group col-md-2">
                    <label for="initialDate">Data Inicial</label>
                    <p-calendar id="initialDate" 
                                formControlName="initialDate"
                                inputStyleClass="form-control"
                                dateFormat="dd/mm/yy"
                                [locale]="ptBR"
                                [showButtonBar]="true">
                    </p-calendar>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('initialDate')"
                    ></app-form-field-error>
                </div>
                <div class="form-group col-md-2">
                    <label for="finalDate">Data Final</label>
                    <p-calendar id="finalDate" 
                                formControlName="finalDate"
                                inputStyleClass="form-control"
                                dateFormat="dd/mm/yy"
                                [locale]="ptBR"
                                [showButtonBar]="true">
                    </p-calendar>
                    <app-form-field-error 
                        [form-control]="resourceForm.get('finalDate')"
                    ></app-form-field-error>
                </div>
                <div class="form-group col-md-4">
                    <label for="expectedAmount">Quanto precisa acumular ?</label>
                    <input [imask]="imaskConfig" type="text" class="form-control text-right" id="expectedAmount" formControlName="expectedAmount">
                    <app-form-field-error 
                        [form-control]="resourceForm.get('expectedAmount')"
                    ></app-form-field-error>
                </div>
            </div>

            <div class="form-row" *ngIf="resourceForm.value.installmentsQuantity">
                <div class="form-group col-md">
                    <strong>
                        Para atingir essa meta serão necessárias {{resourceForm.value.installmentsQuantity}} parcelas de {{resourceForm.value.installmentsValue | currency: 'BRL'}}
                    </strong>
                    
                </div>
            </div>

        </div>
    </div>
    <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
    <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-outline-dark btn-lg mt-2 float-right">Salvar</button>
</form>